<!--Header-->
<div class="header">
	<div class="ui secondary menu" style="height:100px;
			background-color:#FECC6C;">
	  <div class="ui text container center aligned" style="width:450px">
		  <a class="item">
		    Bonap
		  </a>
	    <div class="item">
	      <div class="ui icon input">
	        <input type="text" placeholder="Search...">
	        <i class="search link icon"></i>
	      </div>
	 		</div>
	    <div class="right menu">
		    <a class="ui item top right floating dropdown">
		      <i class="sidebar icon"></i>
		      <div class="menu">
				    <div class="header">Display Density</div>
				    <div class="item"><i class="edit icon"></i> Edit Post</div>
      			<div class="item"><i class="delete icon"></i> Remove Post</div>
      			<div class="item"><i class="hide icon"></i> Hide Post</div>
				    <div class="ui divider"></div>
				    <div class="item">Settings</div>
    			</div>
		    </a>
	    </div> 
	  </div> 
	</div>
</div>


<!--IMAGE-->
<div class="">

		<img class="ui fluid image" style="max-width:500px;margin:auto;padding-top:80px" src="http://www.highviewart.com/uploads/cache/645x0x0/articles_gallery/1882/7_1403820393.jpg">
	
</div>


<!--EMOJI-->
	<div class="ui center aligned text container">
	  
	  <h1 >😁😬</h1>
	</div>
		

<!--TITLE-->
<div class="ui text container center aligned">
	<h1 class="ui header" style='color:grey; font-weight:100'>House of tarts</h1>
</div>



<!--STATS-->

<div class="ui text container center aligned">
	<i class="plane icon" ></i> 5 
	<i class="plane icon" ></i> 5 
</div>






<!--test stackable-->
<div class="ui two column stackable grid container">
  <div class="column center aligned">
    <img class="ui centered large image" src="http://www.highviewart.com/uploads/cache/645x0x0/articles_gallery/1882/7_1403820393.jpg">
  </div>

  <div class="column center aligned">
  	<div class="">
	  	<h1 >😁😬</h1>
		</div>	
  	<div class="">
			<h1 class="ui header" style='color:grey; font-weight:100'>House of tarts</h1>
		</div>
		<div>
		  <div class="ui celled list">
		    <div class="item">
					<i class="certificate icon"></i>
					<div class="content">
						Resto
					</div>
				</div>
				<div class="item">
					<i class="certificate icon"></i>
					<div class="content">
						Asiatique
					</div>
				</div>
				<div class="item">
					<i class="certificate icon"></i>
					<div class="content">
						Omnivore
					</div>
				</div>
				<div class="item">
					<i class="certificate icon"></i>
					<div class="content">
						Petite faim
					</div>
				</div>
			</div>
			<div class="ui list">
				<div>
					<i class="big heart icon"></i>
				</div>
				<i class="big heart icon"></i>
				<i class="big heart icon"></i>
			</div>
		</div>
  </div>
</div>




 

<!--MAPS-->
<div id="map" style="margin:auto;max-width:800px;height:450px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4)"></div>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng(48.8305229,2.374795899999981);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 16};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);

// Responsive Map : Center the marker according the dimensions of the map window
google.maps.event.addDomListener(window, "resize", function() {
   var center = map.getCenter();
   google.maps.event.trigger(map, "resize");
   map.setCenter(center); 
});
}
</script>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDj5DFWGBgTDMFs9WE3ihS-PCKF6hkacmk&callback=myMap"></script>




<!--bouton "j'y vais!"-->
<div class="" style="width:150px;height:50px;background-color:#FECC6C;border-radius: 0px 0px 15px 15px;margin: auto;padding:15px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4)">
		<h3 style="text-align:center;color:white;">J'y vais!</h3>
</div>


















<!--COMMENTS-->
<div class="ui text container">
	<div class="ui comments">
	  <h3 class="ui dividing header">Comments</h3>
	  <div class="comment">
	    <a class="avatar">
	      <img src="/images/avatar/small/matt.jpg">
	    </a>
	    <div class="content">
	      <a class="author">Matt</a>
	      <div class="metadata">
	        <span class="date">Today at 5:42PM</span>
	      </div>
	      <div class="text">
	        How artistic!
	      </div>
	      <div class="actions">
	        <a class="reply">Reply</a>
	      </div>
	    </div>
	  </div>
	  <div class="comment">
	    <a class="avatar">
	      <img src="/images/avatar/small/elliot.jpg">
	    </a>
	    <div class="content">
	      <a class="author">Elliot Fu</a>
	      <div class="metadata">
	        <span class="date">Yesterday at 12:30AM</span>
	      </div>
	      <div class="text">
	        <p>This has been very useful for my research. Thanks as well!</p>
	      </div>
	      <div class="actions">
	        <a class="reply">Reply</a>
	      </div>
	    </div>
	    <div class="comments">
	      <div class="comment">
	        <a class="avatar">
	          <img src="/images/avatar/small/jenny.jpg">
	        </a>
	        <div class="content">
	          <a class="author">Jenny Hess</a>
	          <div class="metadata">
	            <span class="date">Just now</span>
	          </div>
	          <div class="text">
	            Elliot you are always so right :)
	          </div>
	          <div class="actions">
	            <a class="reply">Reply</a>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="comment">
	    <a class="avatar">
	      <img src="/images/avatar/small/joe.jpg">
	    </a>
	    <div class="content">
	      <a class="author">Joe Henderson</a>
	      <div class="metadata">
	        <span class="date">5 days ago</span>
	      </div>
	      <div class="text">
	        Dude, this is awesome. Thanks so much
	      </div>
	      <div class="actions">
	        <a class="reply">Reply</a>
	      </div>
	    </div>
	  </div>
	  <form class="ui reply form">
	    <div class="field">
	      <textarea></textarea>
	    </div>
	    <div class="ui blue labeled submit icon button">
	      <i class="icon edit"></i> Add Reply
	    </div>
	  </form>
	</div>
</div>








<!--POP-UP-->






<div class="ui icon button" data-tooltip="The default theme's basic popup removes the pointing arrow." data-variation="basic">
  <i class="add icon"></i>
</div>

<div class="ui icon button" data-tooltip="Add users to your feed">
  <i class="add icon"></i>
</div>


<div class="ui button" data-tooltip="Add users to your feed" data-position="top right">
  Top Left
</div>





